.app {
  // display: flex;
  // flex-wrap: wrap;
  // align-content: center;
  // width: 80%;
  max-width: 900px;
  margin: 0 auto;
  // padding-top: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
