.canvas {
  .canvas-wrapper { // canvas parent
    height: 90vh;
    // max-width: 900px;
    // height: auto;
    width: 90vw;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 5px 30px #444;

    canvas {
      background: white;
    }
  }

  .palette {
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    .clear-btn {
      background-color: transparent;
      border: none;
      color: black;
      letter-spacing: 1px;
      font-weight: bold;
      &:focus {
        outline: none;
      }
      &:hover {
        color: #444;
      }
    }
  }
}
