.chat {
  color: black;
  border: 2px solid #aeaeae;
  width: 30%;
  height: 500px;
  // height: 40px;
  min-width: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #eee;

  .messages-wrapper {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: scroll;
    position: relative;

    .messages {
      position: absolute;
      bottom: 0;
      max-height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      .message {
        flex: 1 1 100%;
        padding: 0 5px;
      }
    }
  }
  input {
    width: 100%;
    position: absolute;
    bottom: 0%;
    height: 40px;
    padding: 5px;
  }
}
